@import '../../../../assets/SCSS/font';
@import '../../../../assets/SCSS/style';

.craft {
  position: relative;
  flex: 1 1 auto;
  @extend %padding;

  scroll-behavior: $scroll;

  z-index: 2;
}

.containerItem {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  perspective: 3000px;
}

.containerCrafts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: 50px -5% 0;
  z-index: 3000;

  transition: all 1s ease 0s;

}


.containerBlock {
  position: relative;
  flex: 1 1 45%;
  align-self: start;

  max-width: 40%;

  margin: 0 5% 5%;

  box-shadow: 0 9px 31px 6px $shadowSkill;
  overflow: hidden;

  z-index: 30000;

  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--color-darck-100);
    transition: width .6s ease 0s;
  }

  &:hover:after {
    width: 100%;
    transition: width .6s ease 0s;
  }

  @media (max-width: 690px) {
    max-width: 80%;
  }

  .containerBackground {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 28%;

    cursor: pointer;
    transform: scale(1);
    transition: all .4s ease;
    z-index: 2;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 100%;
      width: 100%;
      background-color: $craftBcPsevd;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease;
    }

    &:hover:before {
      opacity: 1;
      visibility: visible;
      transition: all 1s ease;
    }

    &:hover {
      transform: scale3d(1.3, 1.3, 1.3);
      filter: grayscale(.8);
      will-change: transform; // - ставим на конечном результате, предотвраща скачки(обычно этого хватает)
      Transition: transform 1s ease 0s, fillter 1s ease .3s;
    }

    &:hover a {
      transform: scale(0.7);
      will-change: transform; // - ставим на конечном результате, предотвраща скачки(обычно этого хватает)
      transition: all 1s ease;
      background-color: $craftBcA;
    }

    a {
      position: relative;
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;
    }

    &:hover button:after {
      @extend %animationBorderTopRight;
    }

    &:hover button:before {
      @extend %animationBorderBotLeft;
    }

    button {
      background: transparent;
      @extend %fontSizeH2;
      font-size: var(--font-size-p);
      text-transform: uppercase;
      margin: 0;
      padding: 20px 30px;
    }

    &:hover a {
      transition: all .5s ease-in-out;
      visibility: visible;
      opacity: 1;

    }
  }

  .containerText {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    align-content: end;
    position: relative;
    background: #1a1a1a;
    padding: 20px;
    overflow: hidden;
    z-index: 11111;
    //padding: 0 15px 10px;

    p:first-child {
      display: inline-flex;
      @extend %fontSizeH2;
      font-size: var(--font-size-p);
      margin: 5px 0;
    }

    p:last-child {
      display: block;
      text-align: start;
      @extend %fontSizePp
    }
  }
}



