.mySkills {
    background-color: yellow;
    padding: 100px 0;
}

.container {
    max-width: 1200px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0 5px;
    text-align: center;
    }
    .container h2{
        background-color: #5d7d8d;
        display: inline-flex;
}

.containerSkills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid black;
    gap: 30px;
    margin: 50px 0 0;
}

.containerItem{
        flex: 1 1 20%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        padding:10px;
    }
    .containerImg{
        max-width: 100px;
        height: 100px;
        margin: 0 auto 10px;
        background-color: #5d7d8d;
        }
        .containerImg img{
                width: 100%;
                height: 100%;
                object-fit: cover;
        }
    .containerItem p{
        font-size: 22px;
        margin: 0 0 10px;
    }
    .containerText{
        flex: 1 1 auto;
        border: 1px solid black;

    }
        .containerText p{
                font-size: 16px;
                text-align: center;
        }