@import '../../../assets/SCSS/style';
@import '../../../assets/SCSS/fontColor';


.mySkills {
  position: relative;
  flex: 1 1 auto;
  @extend %padding;
  padding-bottom: 0;
  scroll-behavior: $scroll;
  &:after {
    @extend %psevdo;
  }

  &:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    transform: translate(0px, -100%);
    background: linear-gradient(0deg, rgb(16, 16, 16) 5%, rgba(16, 16, 16, 0) 60%);
    z-index: 2;
  }
}


.container {
  position: relative;
  max-width: 1200px;
  //border: 1px solid black;
  margin: 0 auto;
  overflow: hidden;
  transition: all 1s ease 0s;

  .containerSkills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 50px -3% 0;
    transition: all 1s ease 0s;
  }
}

//Оболочка для hover container ---------------------------------------------
.shellContainerItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: start;
  flex: 1 1 23%;

  cursor: pointer;

  max-width: 320px;
  min-width: 200px;
  min-height: 170px;

  margin: 0 4% 30px;

  z-index: 1;

  &:hover .containerImg {
    svg {
      @keyframes imgOff {
        100% {
          transform: scale(0);
        }
      }
      animation: imgOff .5s ease-in-out forwards;
      opacity: 1;
    }

    p {
      @keyframes imgOf {
        100% {
          transform: translate(0, -91px);
          transform-origin: center;
        }
      }
      animation: imgOf 1s ease-in-out forwards;
      opacity: 1;
    }
  }

  &:hover .containerItem {
    transition: all .3s ease 0.8s;
    -webkit-transform: translate3d(0, 0, 0);

    opacity: 1;
    @keyframes scal {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(0.95);
      }
      100% {
        transform: scale(1);
      }
    }
    animation: scal 0.3s ease 0s forwards;
  }

  &:hover .containerItem::after {
    @extend %animationBorderTopRight;
  }

  &:hover .containerItem:before {
    @extend %animationBorderBotLeft;
  }

  //----------------------------------------------------------------
  .containerItem {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    flex: 1 1 auto;
    @extend %bcSkill;
    overflow: hidden;

    border: 1px solid $footerBorderTopColor;

    transition: all 1s ease 0s;

    .containerImg {
      max-width: 100px;
      margin: 0 auto 10px;
      transition: all 0.5s ease;

      svg {
        fill: $colorH;

        path {
          fill: $colorH;
        }
      }
    }

    p {
      @extend %fontSizePp;
      text-align: center;
      margin: 10px 0 0 0;
    }

    // TEXT --------------------------------------------------------------
    .containerText {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;

      margin: auto;

      transition: all 0.5s ease;

      p {
        @keyframes containerText {
          0% {
            transform: translate(0, -3px);
            transform-origin: center;
            color: #1DCB0A;
          }
          100% {
            transform: translate(0, 0);
            transform-origin: center;
            color: #9da1a5;
          }
        }
        animation: containerText .5s ease-in-out forwards;
        @extend %fontSizeP;
        text-align: center;
        transition: all 0.5s ease-in-out;

      }

      p:last-child {
        @keyframes containerText1 {
          0% {
            opacity: 0.1;
            transform: translate(0, -100%);
            transform-origin: center;
          }
          100% {
            opacity: 1;
            transform: translate(0, 0);
            transform-origin: center;
          }
        }
        animation: containerText1 0.4s ease-in-out;
        @extend %fontSizePp;
        text-align: center;
        margin: 0 0 0 0;
        transition: all 0.5s ease-in-out;
      }
    }
    //animation containerItem ---------------------
    opacity: 0.3;
    transform: scale3d(0.7, 0.7, 0.7);
    @media (prefers-reduced-motion) {
      transform: none;
    }
  }

  .shellAnim {
    opacity: 1;
    will-change: transform;
    transform: scale3d(1, 1, 1);
    box-shadow: 0 9px 16px 6px $shadowSkill !important;
  }
}

//IMG mod ---------------------------------------------------------
.mod {
  opacity: 1;
  transform: scale(1);
  transform-origin: bottom;


  svg {
    @keyframes img {
      0% {
        opacity: 0;
        transform: scale(0);
        transform-origin: center;

      }
      100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: center;

      }
    }
    animation: img 0.5s ease;
  }

  p {
    @keyframes p {
      0% {
        opacity: 0;
        transform-origin: bottom;
        transform: scale(5);

      }
      100% {
        opacity: 1;
        transform: scale(1);
        transform-origin: bottom;
      }
    }
    animation: p 0.5s ease;
  }
}

.modReverse {
  opacity: 0;
  transform: scale(0);
  transition: all .2s ease 0s;
}
