.mySkills {
  padding: 5% 0;
}

.shellContainerItem .containerItem .containerText p {
  font-size: 1.4285714286rem;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #1DCB0A;
}

.shellContainerItem .containerItem .containerText p:last-child, .shellContainerItem .containerItem p {
  font-size: 1.4285714286rem;
  text-transform: capitalize;
  line-height: 1.3em;
  color: #1DCB0A;
}

.shellContainerItem .containerItem {
  background: rgb(26, 26, 26);
}

.shellContainerItem:hover .containerItem::after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  animation: borderTopRight 0.4s linear forwards;
  z-index: 1212222222;
}
@keyframes borderTopRight {
  0% {
    width: 0;
    border-top: 1px solid #9da1a5;
  }
  33% {
    width: 100%;
    border-top: 1px solid #9da1a5;
  }
  66% {
    width: 100%;
    height: 0;
    border-top: 1px solid #9da1a5;
    border-right: 1px solid #9da1a5;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top: 1px solid #9da1a5;
    border-right: 1px solid #9da1a5;
  }
}

.shellContainerItem:hover .containerItem:before {
  animation: borderBotLeft 0.4s linear 0.4s forwards;
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  right: 0;
}
@keyframes borderBotLeft {
  0% {
    width: 0;
    border-bottom: 1px solid #1DCB0A;
  }
  33% {
    width: 100%;
    border-bottom: 1px solid #1DCB0A;
  }
  66% {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #1DCB0A;
    border-left: 1px solid #1DCB0A;
  }
  100% {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #1DCB0A;
    border-left: 1px solid #1DCB0A;
  }
}

.mySkills .chapter {
  position: absolute;
  top: 10px;
  left: 50%;
  bottom: "";
  right: "";
  content: "";
  width: 2px;
  height: 50px;
  background: #1DCB0A;
}

.mySkills .chapterActive {
  animation: chapter 1s ease forwards;
}
@keyframes chapter {
  0% {
    transform: translateY(0);
    height: 0;
  }
  33% {
    transform: translateY(100px);
    height: 15px;
  }
  77% {
    transform: translateY(-50px);
    height: 35px;
  }
  100% {
    transform: translateY(0);
    height: 50px;
  }
}

.mySkills {
  position: relative;
  flex: 1 1 auto;
  padding-bottom: 0;
  scroll-behavior: smooth;
}
.mySkills:before {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  transform: translate(0px, -100%);
  background: linear-gradient(0deg, rgb(16, 16, 16) 5%, rgba(16, 16, 16, 0) 60%);
  z-index: 2;
}
.mySkills .chapter {
  transition: all 1s ease;
}
.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  transition: all 1s ease 0s;
}
.container .containerSkills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 50px -3% 0;
  transition: all 1s ease 0s;
}

.shellContainerItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: start;
  flex: 1 1 23%;
  cursor: pointer;
  max-width: 320px;
  min-width: 200px;
  min-height: 170px;
  margin: 0 4% 30px;
  z-index: 1;
}
.shellContainerItem:hover .containerImg svg {
  animation: imgOff 0.5s ease-in-out forwards;
  opacity: 1;
}
@keyframes imgOff {
  100% {
    transform: scale(0);
  }
}
.shellContainerItem:hover .containerImg p {
  animation: imgOf 1s ease-in-out forwards;
  opacity: 1;
}
@keyframes imgOf {
  100% {
    transform: translate(0, -91px);
    transform-origin: center;
  }
}
.shellContainerItem:hover .containerItem {
  transition: all 0.3s ease 0.8s;
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 1;
  animation: scal 0.3s ease 0s forwards;
}
@keyframes scal {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.shellContainerItem .containerItem {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  flex: 1 1 auto;
  overflow: hidden;
  border: 1px solid rgba(157, 161, 165, 0.35);
  transition: all 1s ease 0s;
  transform: scale3d(0.7, 0.7, 0.7);
}
.shellContainerItem .containerItem .containerImg {
  max-width: 100px;
  margin: 0 auto 10px;
  transition: all 0.5s ease;
}
.shellContainerItem .containerItem .containerImg svg {
  fill: #9da1a5;
}
.shellContainerItem .containerItem .containerImg svg path {
  fill: #9da1a5;
}
.shellContainerItem .containerItem p {
  text-align: center;
  margin: 10px 0 0 0;
}
.shellContainerItem .containerItem .containerText {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  transition: all 0.5s ease;
}
.shellContainerItem .containerItem .containerText p {
  animation: containerText 0.5s ease-in-out forwards;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
@keyframes containerText {
  0% {
    transform: translate(0, -3px);
    transform-origin: center;
    color: #1DCB0A;
  }
  100% {
    transform: translate(0, 0);
    transform-origin: center;
    color: #9da1a5;
  }
}
.shellContainerItem .containerItem .containerText p:last-child {
  animation: containerText1 0.4s ease-in-out;
  text-align: center;
  margin: 0 0 0 0;
  transition: all 0.5s ease-in-out;
}
@keyframes containerText1 {
  0% {
    opacity: 0.1;
    transform: translate(0, -100%);
    transform-origin: center;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
    transform-origin: center;
  }
}
.shellContainerItem .containerItem:nth-child(odd) {
  transition-delay: 200ms;
}
@media (prefers-reduced-motion) {
  .shellContainerItem .containerItem {
    transform: none;
  }
}
.shellContainerItem .shellAnim {
  will-change: transform;
  transform: scale3d(1, 1, 1);
  box-shadow: 0 9px 16px 6px black !important;
}

.mod {
  opacity: 1;
  transform: scale(1);
  transform-origin: bottom;
}
.mod svg {
  animation: img 0.5s ease;
}
@keyframes img {
  0% {
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
  }
}
.mod p {
  animation: p 0.5s ease;
}
@keyframes p {
  0% {
    opacity: 0;
    transform-origin: bottom;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom;
  }
}

.modReverse {
  opacity: 0;
  transform: scale(0);
  transition: all 0.2s ease 0s;
}

/*# sourceMappingURL=MySkills.module.css.map */
