.mySkills {
  padding: 5% 0;
}

.containerItem .containerText p, .containerItem p {
  font-size: 1.4285714286rem;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #9da1a5;
}

.containerItem .containerText p:last-child {
  font-size: 1.4285714286rem;
  text-transform: capitalize;
  line-height: 1.3em;
  color: #1DCB0A;
}

.containerItem {
  background: rgb(26, 26, 26);
}

.containerItem:hover:after {
  animation: borderTopRight 0.4s linear forwards;
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
}
@keyframes borderTopRight {
  0% {
    width: 0;
    border-top: 1px solid #1DCB0A;
  }
  33% {
    width: 100%;
    border-top: 1px solid #1DCB0A;
  }
  66% {
    width: 100%;
    height: 0;
    border-top: 1px solid #1DCB0A;
    border-right: 1px solid #1DCB0A;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top: 1px solid #1DCB0A;
    border-right: 1px solid #1DCB0A;
  }
}

.containerItem:hover:before {
  animation: borderBotLeft 0.4s linear 0.4s forwards;
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  right: 0;
}
@keyframes borderBotLeft {
  0% {
    width: 0;
    border-bottom: 1px solid #1DCB0A;
  }
  33% {
    width: 100%;
    border-bottom: 1px solid #1DCB0A;
  }
  66% {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #1DCB0A;
    border-left: 1px solid #1DCB0A;
  }
  100% {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #1DCB0A;
    border-left: 1px solid #1DCB0A;
  }
}

.mySkills {
  flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.container .containerSkills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 50px -3% 0;
}

.containerItem {
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: start;
  min-height: 170px;
  flex: 1 1 23%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  max-width: 320px;
  min-width: 200px;
  border: 1px solid #313131;
  padding: 10px;
  margin: 0 4% 30px;
  box-shadow: 0 9px 16px 6px rgb(0, 0, 0) !important;
}
.containerItem:hover .containerImg img {
  animation: imgOff 1s ease-in-out forwards;
  opacity: 1;
}
@keyframes imgOff {
  100% {
    transform: translate(0, -200px);
  }
}
.containerItem:hover .containerImg p {
  animation: imgOf 1s ease-in-out forwards;
  opacity: 1;
}
@keyframes imgOf {
  100% {
    transform: translate(0, 200px);
  }
}
.containerItem:hover {
  transition: all 0.3s ease 0.8s;
  box-shadow: 0 9px 16px 6px rgba(29, 203, 10, 0.05) !important;
  opacity: 1;
}
.containerItem .containerImg {
  max-width: 100px;
  margin: 0 auto 10px;
  transition: all 1s ease;
}
.containerItem .containerImg img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.containerItem p {
  color: #1DCB0A;
  text-align: center;
  margin: 10px 0 0 0;
}
.containerItem .containerText {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.containerItem .containerText p {
  animation: containerText 0.7s ease-in-out forwards;
  text-align: center;
  color: #9da1a5;
  transition: all 1s ease-in-out;
}
@keyframes containerText {
  0% {
    transform: translate(0, 800%);
    color: #1DCB0A;
  }
  100% {
    transform: translate(0, 0);
    color: #9da1a5;
  }
}
.containerItem .containerText p:last-child {
  animation: containerText1 0.7s ease-in-out;
  text-align: center;
  margin: 0 0 0 0;
  color: #1DCB0A;
  transition: all 1s ease-in-out;
}
@keyframes containerText1 {
  0% {
    opacity: 0.1;
    transform: translate(0, -300%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.mod {
  opacity: 1;
}
.mod img {
  animation: img 1s ease-in-out;
}
@keyframes img {
  0% {
    opacity: 0;
    transform: translate(0, -300%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}
.mod p {
  animation: p 1s ease-in-out;
}
@keyframes p {
  0% {
    opacity: 0;
    transform: translate(0, 300%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0px);
  }
}

.modReverse {
  opacity: 0;
  transform: translate(0, 70%);
}
.modReverse p:first-child {
  transform: translate(0, -70%);
}
.modReverse p:last-child {
  transform: translate(0, -700%);
}

/*# sourceMappingURL=MySkills.module.css.map */
