@import '../../../styleSCSS/style';

.mySkills {
  position: relative;
  flex: 1 1 auto;
  @extend %padding;
  padding-bottom: 0;

  &:after {
    @extend %psevdo;
  }
}

.container {
  position: relative;
  max-width: 1200px;
  //border: 1px solid black;
  margin: 0 auto;
  overflow: hidden;


  .containerSkills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 50px -3% 0;

  }
}

.containerItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: start;
  flex: 1 1 23%;
  overflow: hidden;
  cursor: pointer;
  max-width: 320px;
  min-width: 200px;
  min-height: 170px;
  border: 1px solid $footerBorderTopColor;
  padding: 10px;
  margin: 0 4% 30px;
  z-index: 1;
  @extend %bcSkill;
  box-shadow: 0 9px 16px 6px $shadowSkill !important;

  &:hover .containerImg {
    svg {
      @keyframes imgOff {
        100% {
          transform: translate(0, -200px);
        }
      }
      animation: imgOff 1s ease-in-out forwards;
      opacity: 1;
    }

    p {
      @keyframes imgOf {
        100% {
          transform: translate(0, 200px);
        }
      }
      animation: imgOf 1s ease-in-out forwards;
      opacity: 1;
    }
  }

  &:hover {
    transition: all .3s ease 0.8s;
    box-shadow: 0 9px 16px 6px $shadowSkillHover !important;
    opacity: 1;
  }

  &:hover:after {
    @extend %animationBorderTopRight;
  }

  &:hover:before {
    @extend %animationBorderBotLeft;
  }

  .containerImg {
    max-width: 100px;
    margin: 0 auto 10px;
    transition: all 1s ease;

    svg {
      fill: $skillIconBc;
      path{
        fill: $skillIconBc;
      }
    }
  }

  p {
    @extend %fontSizePp;
    text-align: center;
    margin: 10px 0 0 0;
  }

  .containerText {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease-in-out;

    p {
      @keyframes containerText {
        0% {
          transform: translate(0, 800%);
          color: #1DCB0A;
        }
        100% {
          transform: translate(0, 0);
          color: #9da1a5;
        }
      }
      animation: containerText .7s ease-in-out forwards;
      @extend %fontSizeP;
      text-align: center;
      transition: all 1s ease-in-out;

    }

    p:last-child {
      @keyframes containerText1 {
        0% {
          opacity: 0.1;
          transform: translate(0, -300%);

        }
        100% {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
      animation: containerText1 0.7s ease-in-out;
      @extend %fontSizePp;
      text-align: center;
      margin: 0 0 0 0;
      transition: all 1s ease-in-out;

    }

  }
}

.mod {
  opacity: 1;

  svg {
    @keyframes img {
      0% {
        opacity: 0;
        transform: translate(0, -300%);
      }
      100% {
        opacity: 1;
        transform: translate(0, 0px);

      }
    }
    animation: img 1s ease-in-out;
  }

  p {
    @keyframes p {
      0% {
        opacity: 0;
        transform: translate(0, 300%);
      }
      100% {
        opacity: 1;
        transform: translate(0, 0px);

      }
    }
    animation: p 1s ease-in-out;
  }
}

.modReverse {
  opacity: 0;
  transform: translate(0, 70%);

  p:first-child {
    transform: translate(0, -70%);
  }

  p:last-child {
    transform: translate(0, -700%);
  }
}
