@keyframes isActiveLoading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

@keyframes isActiveSnackbar {
  0% {
    opacity: 1;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 500px;
  }
}