:root {
  //dark -------------
  --color-darck-100: #9da1a5;
  --color-darck-900: #101010;

  //error ------------
  --color-error: red;

  //medium ----------
  --color-medium: #1DCB0A;
  --color-medium-opasity: rgba(29, 203, 10, 0.5);
}