:root {
  //dark -------------
  --color-darck-100: #9da1a5;
  --color-darck-500: #1a1a1a;
  --color-darck-900: #101010;
  --color-darck-100-opacity: rgba(157, 161, 165, 0.35);
  --color-darck-900-opacity: #101010;
  --color-darck-900-transparent: rgba(16, 16, 16, 0.5);

  //error ------------
  --color-error: red;

  //medium ----------
  --color-medium: #1DCB0A;
  --color-medium-opasity: rgba(29, 203, 10, 0.5);

}
