$colorH: #9da1a5;
$colorP: #1DCB0A;

//HEADER-----------------------------------------
$headBcColor: #101010;
$headGradientBc1:#101010FF;
$headGradientBc2:#101010E5;
$headGradientBc3:#1DCB0A19;
$headBurgerColor:#9da1a5;

//SKILL-----------------------------------------
$shadowSkill:#000000FF;
$shadowSkillHover:#1DCB0A0C;

//CRAFT-----------------------------------------------
$craftBcPsevd:rgba(0, 0, 0, 0.45);
$craftBcA:rgba(16, 16, 16, 0.8);

//CONTACTS------------------------------------------------
$formBc:#1a1a1a;

//footer--------------------------------
$footerBorderTopColor: rgba(157, 161, 165, 0.35);

//Прокурутка --------------------------
$scroll: smooth;
