.work{
    flex: 1 1 auto;
    background: url(/src/components/main/wrapper/I_maloy.jpg)center/cover no-repeat fixed;
    padding: 5% 5px;
    }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 150px;
    }
    .container button{
        margin: 10px 0 0;
}
