
.containerSkill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 165px;
  margin: 10px;
  z-index: 2;

  .icon {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20% 10%;
    overflow: hidden;

    .hoverIcon {
      position: absolute;
      left: -42%;
      width: 100%;
      height: 65%;
      z-index: 1;

      > svg path {
        stroke-dasharray: 0 500;
        fill: transparent;
        stroke: var(--color-medium);
        transition: all 1s ease 0s;
      }

      &:nth-child(2) {
        transform: rotate(180deg);
        left: 42%;
      }
    }

    &:hover .hoverIcon svg path {
      stroke-dasharray: 500 100;
      fill: var(--color-medium);
      transition: stroke-dasharray 1s ease 0s, fill 1s ease .3s;
    }


    > svg {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }

  > p {
    color: var(--color-medium);
    font-size: var(--font-size-p);
  }

  @media (max-width: 523px) {
    width: 40px;
    height: 40px;

    .hoverIcon {
      display: none;
    }

    > p {
      font-size: var(--font-size-mobile);
    }
  }
}






