.craft {
    flex: 1 1 auto;
    /*background: #00909F;*/
    padding: 5% 0;
    }

.containerItem {
    border: 1px solid black;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    }
    .containerItem h3{
        display: inline-flex;
}

.containerCrafts {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px -5% 0;
}

.containerBlock {
    flex: 1 1 45%;
    max-width:40%;
    min-width: 300px;
    border: 1px solid black;
    margin: 0 5% 5px;
    }
    @media (max-width: 690px) {
        .containerBlock {
            max-width:100%;
        }
}
    .containerBackground{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 28%;
    }
    .containerText{
        display: block;
        padding: 0 15px 10px;
        }
        .containerText p:first-child {
            font-size: 22px;
            display: inline-flex;
            margin: 5px 0;
        }
        .containerText p:last-child{
            display: block;
            text-align: start;

}