@import '../../../../assets/SCSS/font';
@import '../../../../assets/SCSS/style';

.craft {
  position: relative;
  flex: 1 1 auto;
  @extend %padding;

  scroll-behavior: $scroll;

  z-index: 2;
}

.containerItem {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  perspective: 3000px;
}

.containerCrafts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-left: -5%;
  margin-right: -5%;
  z-index: 3000;

  transition: all 1s ease 0s;
}




