@import '../../../assets/SCSS/style';

.title {
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  @extend %fontSizeH2;
  padding: 0 0 0 20px;
  margin: 0 0 3%;
  z-index: 1;

  &:before, &:after {//полоска подчеркивания
    background: $colorP;
    height: 4px;
    bottom: -10px;
  }

  &:before {
    content: '';
    position: absolute;
    right: 19px;
    width: 30px;
    height: 4px;
    z-index: 1010000;
    border-radius: 0 0 0 100px;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 15px;
    border-radius: 0 100px 0 0;
  }
}
