@import "../../../assets/SCSS/style";


.button {
  position: relative;
  z-index: 1;
  background: transparent;
  @extend %fontSizeP;
  color: $colorP;
  border: 1px solid $colorH;
  transition: all .3s linear;
  padding: 1% 4%;

  &:hover {
    @keyframes fontColor {
      0% {
        color: $colorP;
      }
      100% {
        color: $colorH;
      }
    }

    &:before {
      @keyframes bcZapolnenie {
        0% {
          width: 0;
        }
        100% {
          width: 55%;
        }
      }
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      content: '';
      height: 100%;
      width: 100%;
      animation: bcZapolnenie .4s ease forwards;
      background: $colorP;
    }

    &:hover:after {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      content: '';
      height: 100%;
      width: 100%;
      animation: bcZapolnenie .4s ease forwards;
      background: $colorP;
    }

    position: relative;
    z-index: 3;
    text-shadow: 1px 1px 3px black, 2px 2px 3px black;
    transition: all .4s linear .4s;
    animation: fontColor .4s linear forwards .4s;
    //color: #9da1a5;
  }
}


//===============================================
.modOff {
  transition: all .4s linear;

  &:before {
    @keyframes bcZapolnenie1 {
      0% {
        width: 0;
      }
      100% {
        width: 55%;
      }
    }
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    content: '';
    height: 100%;
    width: 100%;
    animation: bcZapolnenie1 .4s ease reverse .3s forwards;
    background: $colorP;
  }

  &:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    content: '';
    height: 100%;
    width: 100%;
    animation: bcZapolnenie1 .4s ease reverse .3s forwards;
    background: $colorP;
  }
}