@import "../../../assets/SCSS/style";
@import "../../../assets/SCSS/font";

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: var(--color-medium);
  font-size: var(--font-size-p);
  border: 1px solid var(--color-darck-100);
  transition: all .3s linear;
  padding: 7.5px 20px;
  z-index: 1;

  > svg {
    width: 35px;
    height: 35px;
    filter: drop-shadow(0px 0px 0px transparent);
    z-index: 1;
    padding: 0 10px;
    transition: filter .3s ease 0s;

    path {
      fill: var(--color-medium);
      transition: all .3s ease 0.1s;
    }

  }

  &:after,
  &:before {
    position: absolute;
    z-index: -1;
    top: 0;
    content: '';
    width: 0;
    height: 100%;
    background: transparent;
    transition: background .2s ease, background-size .2s ease, width .2s ease .2s;
  }

  &:after {
    right: 0;
    background: var(--color-medium);
  }

  &:before {
    left: 0;
    background: linear-gradient(44deg,
            var(--color-darck-100) 20%,
            var(--color-medium) 80%,
    );
    background-size: 110% 1000%;
  }


  &:hover {
    position: relative;
    z-index: 3;
    text-shadow: 1px 1px 3px black, 2px 2px 3px black;
    color: var(--color-darck-100);
    transition: color .3s linear .3s, text-shadow .4s linear .4s;

    > svg {
      z-index: 1;
      filter: drop-shadow(1px 1px 2px var(--color-darck-900));
      transition: all .3s ease .4s;

      > path {
        fill: var(--color-darck-100);
        transition: all .3s ease .4s;
      }
    }

    &:before,
    &:after {
      width: 50%;
      transition: width .2s ease;
    }


  }

  &:active {
    border-color: transparent;
    transition: all .4s ease;

    &:before {
      background: linear-gradient(44deg,
              var(--color-darck-100) 30%,
              var(--color-medium) 60%,
      );
      background-size: 100% 100%;
      transition: all .1s ease;
    }
  }
}

.disabled {
  color: var(--color-medium-opasity);

  &:after,
  &:before, {
    display: none;
  }

  &:hover {
    animation: none;
  }
}
