@import '../../../assets/styleSCSS/style';

.wrapper {
  background: url(I_maloy.jpg) center/cover no-repeat fixed;
  @extend %padding;
  margin: 0 0 0 0;
  height: 100vh;
  z-index: 2;
  scroll-behavior: $scroll;

}

.wrapperContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 5px;
  //border: 1px solid black;
}

.wrapperName {
  flex: 1 1 33%;
  max-width: 500px;

  h1 {
    font-family: 'Jost', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 60/14 + 0rem;
    font-weight: 700;
    color: $colorH;
    line-height: 1.5em;
  }

  span {
    color: $colorSpanMod;
  }

  p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: $colorP;
    @extend %fontSizeP;
    text-transform: capitalize;
  }
}
