@import "../../../../assets/SCSS/font";
@import "../../../../assets/SCSS/style";

.contact {
  position: relative;
  flex: 1 1 auto;
  @extend %padding;
  scroll-behavior: $scroll;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 5% auto 0;


  .formMod {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    z-index: 2;

    .formInput {
      display: flex;
      flex-direction: column;
      flex: 1 1 50%;
      padding: 0 10px;

      .labelInput {
        margin: 0 0 20px;
        border: 1px solid var(--color-darck-100);
        color: var(--color-darck-100);
        transition: all .2s linear;

        input {
          width: 100%;
          height: 100%;
          overflow: hidden;
          padding: 2% 4%;
          background-color: $formBc;
          outline: none;
          @extend %fontSizePp;
          border: none;
          color: var(--color-darck-100);


          &:nth-child(3) {
            text-transform: none;
          }

          &::placeholder {
            @extend %fontSizePp;
            opacity: .5;
            transition: all .2s linear;
          }

          &:focus {
            color: var(--color-darck-100);
          }

          &:focus::placeholder {
            color: var(--color-darck-100);
            transition: color .2s ease 0s;
          }


          &:-webkit-autofill { // - убираем фон default
            transition: all 5000s ease-in-out 0s;
          }
        }

      }

      .activeInput {
        border: 1px solid var(--color-medium);
        transition: border .3s ease 0s;
      }

      .errorInput {
        border: 1px solid var(--color-error);
        color: var(--color-error);

        > input::placeholder {
          color: var(--color-error);
        }

      }

    }

    .formTextarea {
      flex: 1 0 50%;
      min-width: 220px;
      padding: 0 10px;
      margin: 0 0 20px;

      textarea {
        width: 100%;
        height: 100%;
        padding: 2% 4%;
        @extend %fontSizePp;
        background-color: $formBc;
        border: 1px solid var(--color-darck-100);
        color: var(--color-medium);
        outline: none;
        resize: none;
        transition: all .3s linear;

        &::placeholder {
          @extend %fontSizePp;
          opacity: .5;
          transition: all .4s linear;
        }

        &:focus {
          border: 1px solid var(--color-medium);
          color: var(--color-darck-100);
          transition: all .4s linear;
        }

        &:focus::placeholder {
          color: var(--color-darck-100);
          transition: all .4s linear;
        }

        &:-webkit-autofill { // - убираем фон default
          transition: all 5000s ease-in-out 0s;
        }

      }
    }
  }

  Button {
    background: $formBc;
  }
}