@import "../../assets/SCSS/style";
@import "../../assets/SCSS/font";

.footer {
  position: relative;
  z-index: 2;
  background: rgba(26, 26, 26, 0.9);
  border-top: 2px solid var(--color-darck-100-opacity);

  &:before {
    @include psdEl(-2px, 0, '', '', '');
    @keyframes footGo {
      0% {
        left: 0;
        width: 0;
      }
      6% {
        left: 0;
        width: 20%;
      }
      34% {
        left: 100%;
        width: 20%;
      }
      100% {
        left: 100%;
        width: 30%;
      }
    }
    animation: footGo 14s infinite linear;
    background: var(--color-medium);
    opacity: 0.5;
    box-shadow: 0 0 10px var(--color-medium);
    height: 2px;
  }
}

.ss {
  max-width: 1200px;
  margin: 0 auto;
}

.containerFooter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -12%;

  > div {
    padding: 0 10%;
  }

  p {
    @extend %fontSizePp;
    font-size: 17px;
    padding: 0 10%;
    text-align: right;
  }
}

