.footer {
    /*background-color: #5D7D8D;*/
    /*padding: 5% 0;*/
}

.footer h3 {
    font-size: 20px;
}

.footer span {
    color: #1DCB0A;
}

.containerFooter {
    border: 1px solid black;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0 20px;
}

.containerSocial {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    height: 50px;
    border: 1px solid black;
    margin: 4% auto;
}

.containerBlock {
    width: 50px;
    perspective-origin: center;
    transition: all .1s ease;
    /*height: 70px;*/
    }
    .containerBlock img{
        width: 100%;
        height: 100%;
    }  .containerBlock:hover{
    filter: drop-shadow(1px 2px 5px black);
    transition: all .1s ease;
               transform: rotate(-9deg) scale(1.4);

}