@import "../../../assets/styleSCSS/style";
@import "../../../assets/styleSCSS/fontColor";

.contact {
  position: relative;
  flex: 1 1 auto;
  /*background-color: #00909F;*/
  @extend %padding;

  scroll-behavior: $scroll;

  &:after{
    @extend %psevdo;
  }
}

.container {
  //border: 1px solid black;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 5% auto 0;



  .formMod {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    z-index: 2;

    .formInput {
      display: flex;
      flex-direction: column;
      flex: 1 1 50%;
      padding: 0 10px;


      input {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 2% 4%;
        margin: 0 0 20px;
        border: 1px solid $buttonsBorderColor;
        background-color: $formBc;
        outline: none;
        @extend %fontSizePp;
        transition: all .4s linear;
        &:nth-child(3){
          text-transform: none;
        }

        &::placeholder{
          @extend %fontSizePp;
          opacity: .5;
          transition: all .4s linear;
        }
        &:focus {
          border: 1px solid $formBorderColor;
          color: $colorH;
          transition: all .4s linear;
        }
        &:focus::placeholder {
          color: $colorH;
          transition: all .4s linear;

        }
      }
    }

    .formTextarea {
      flex: 1 0 50%;
      min-width: 220px;
      padding: 0 10px;
      margin: 0 0 20px;

      textarea {
        width: 100%;
        height: 100%;
        padding: 2% 4%;
        @extend %fontSizePp;
        background-color: $formBc;
        border: 1px solid $buttonsBorderColor;
        color: $colorP;
        outline: none;
        resize: none;
        transition: all 1s linear;

        &::placeholder{
          @extend %fontSizePp;
          opacity: .5;
          transition: all .4s linear;
        }
        &:focus {
          border: 1px solid $formFoces;
          color: $colorH;
          transition: all .4s linear;
        }
        &:focus::placeholder {
          color: $colorH;
          transition: all .4s linear;
        }
      }
    }
  }
Button{
  background: $formBc;
}
}