$colorH: #9da1a5;
$colorP: #9da1a5;
$colorPp: #1DCB0A;
$colorSpanMod: #1DCB0A;

$buttonsColor: #1DCB0A;
$buttonsBorderColor: #9da1a5;

$psevdoElemsPoloskiColor: #1DCB0A;


$skillslIconsColor: #9da1a5;
$skillslBorderColor: #1DCB0A;

$colorCraftBorder: #9da1a5;

$footerIconsColor: #1DCB0A;
$footerBorderIcons: rgb(165, 157, 163);
$footerBorderTopColor: rgba(157, 161, 165, 0.35);
