//padding Для всех блоков
%padding {
  padding: 3% 0;
}

//параграфы(описание) размер шрифта
%fontSizeP {
  font-size: 20/14+0rem;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #9da1a5;
}
%fontSizePp {
  font-size: 20/14+0rem;
  text-transform: capitalize;
  line-height: 1.3em;
  color: #1DCB0A;
}

//H2(описание) размер шрифта H2 всех уровней кроме 1-го


//Font famaly h p
%fontFamily {
  font-family: 'Jost', sans-serif;
}

//bc all App
%bcApp {
  background: rgb(16, 16, 16);
}

//bc skills
%bcSkill {
  background: rgb(26, 26, 26);
}

//color p
%c{
background: #9da1a5;
}

//Border animations ===============
%animationBorderTopRight{
  @keyframes borderTopRight {
    0% {
      width: 0;
      border-top: 1px solid #1DCB0A;
    }
    33% {
      width: 100%;
      border-top: 1px solid #1DCB0A;
    }
    66% {
      width: 100%;
      height: 0;
      border-top: 1px solid #1DCB0A;
      border-right: 1px solid #1DCB0A;
    }
    100% {
      width: 100%;
      height: 100%;
      border-top: 1px solid #1DCB0A;
      border-right: 1px solid #1DCB0A;
    }
  }
  animation: borderTopRight 0.4s linear forwards;
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
}
%animationBorderBotLeft{
  @keyframes borderBotLeft {
    0% {
      width: 0;
      border-bottom: 1px solid #1DCB0A;
    }
    33% {
      width: 100%;
      border-bottom: 1px solid #1DCB0A;
    }
    66% {
      width: 100%;
      height: 0;
      border-bottom: 1px solid #1DCB0A;
      border-left: 1px solid #1DCB0A;
    }
    100% {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #1DCB0A;
      border-left: 1px solid #1DCB0A;
    }

  }
  animation: borderBotLeft 0.4s linear 0.4s forwards;
  position: absolute;
  display: block;
  content: '';
  bottom: 0;
  right: 0;
}
//-----------------------------------------

