//padding Для всех блоков
%padding{
  padding: 5% 0;
}

//параграфы(описание) размер шрифта
%fontSizeP{
  font-size: 20/14+0rem;
}
//H2(описание) размер шрифта H2 всех уровней кроме 1-го


//Font famaly h p
%fontFamily{
  font-family: 'Jost', sans-serif;
}