@import '../../../../../assets/SCSS/font';
@import '../../../../../assets/SCSS/style';

.containerCraft {
  position: relative;
  flex: 1 1 45%;
  align-self: start;

  max-width: 40%;

  margin: 0 5% 5%;

  box-shadow: 0 9px 31px 6px $shadowSkill;
  overflow: hidden;

  z-index: 30000;

  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: var(--color-darck-100);
    transition: width .6s ease 0s;
  }

  &:hover:after {
    width: 100%;
    transition: width .6s ease 0s;
  }

  @media (max-width: 690px) {
    max-width: 80%;
  }

  .containerBackground {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 28%;

    cursor: pointer;
    transform: scale(1);
    transition: all .4s ease;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 100%;
      width: 100%;
      background-color: $craftBcPsevd;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease;
    }

    &:hover:before {
      opacity: 1;
      visibility: visible;
      transition: all 1s ease;
    }

    &:hover {
      transform: scale3d(1.2, 1.2, 1.2);
      filter: grayscale(.8);
      will-change: transform;
      Transition: transform 1s ease 0s, fillter 1s ease .3s;
    }

    &:hover a {
      transform: scale(0.7);
      will-change: transform;
      transition: all 1s ease;
      background-color: $craftBcA;
    }

    a {
      position: relative;
      visibility: hidden;
      opacity: 0;
      transition: all .5s ease-in-out;
    }

    &:hover button:after {
      @extend %animationBorderTopRight;
    }

    &:hover button:before {
      @extend %animationBorderBotLeft;
    }

    button {
      background: transparent;
      @extend %fontSizeH2;
      font-size: var(--font-size-p);
      text-transform: uppercase;
      margin: 0;
      padding: 20px 30px;
    }

    &:hover a {
      transition: all .5s ease-in-out;
      visibility: visible;
      opacity: 1;

    }
  }

  .containerText {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    align-content: end;
    background: var(--color-darck-500);
    height: 50px;

    .blockItem {
      position: absolute;
      bottom: 2px;
      max-height: 70px;
      width: 100%;
      padding: 25px;
      transition: max-height .3s ease;
      background: url('../../../../../assets/image/app/15.png') 90% 57%/cover no-repeat, var(--color-darck-500);
      z-index: 2;



      .craftName{
        display: flex;
        justify-content: space-between;
        align-items: start;
        .icon{
          position: absolute;
          top:20px;
          right: 5%;
          width: 35px;
          height: 35px;
          opacity: 1;
          transition: opacity .3s ease;
          >svg path{
            fill: var(--color-darck-100);
          }
        }
        p:first-child {
          display: inline-flex;
          font-size: var(--font-size-p);
          color: var(--color-darck-100);
          font-weight: 900;
          margin: 0 0 5%;
        }

      }

      p:last-child {
        display: flex;
        text-align: start;
        opacity: 0;
        font-size: var(--font-size-p);
        line-height: 1.3;
        color: var(--color-medium);
        transition: opacity .3s ease;
      }
    }

    &:hover .blockItem {
      position: absolute;
      bottom: 3px;
      left: 0;
      max-height: 100%;
      width: 100%;
      z-index: 3;
      will-change: transform;
      transition: max-height .5s ease;
      .icon{
        opacity: 0;
        transition: opacity .3s ease;
      }
      p:last-child{
        opacity: 1;
        transition: opacity 1s ease;
      }
    }
  }
}
