@import "assets/SCSS/style";

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  background: url("./15.png") center center/cover no-repeat , rgb(16, 16, 16);
  font-family: Jost, sans-serif;

  &:after {
    @include psdEl(0, 50%, '', '','');
    width: 2px;
    height: 100%;
    background: rgba(157, 161, 165, 0.1);
    z-index: 0;
  }

  .slider{
    display: block;
    position: absolute;
    width: 4px;
    height: 50px;
    //top: 25%;
    left: 50%;
    background: red;
    z-index: 0;
  }
}

