.App{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.appGeneralTitle{
    font-family: 'Playfair Display', serif;
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -1px;
    text-align: center;
    background-color: #547F8F;
}

.appGeneralDescription{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #547F8F;
}