@charset "UTF-8";
@keyframes borderTopRight {
  0% {
    width: 0;
    border-top: 1px solid #9da1a5;
  }
  33% {
    width: 100%;
    border-top: 1px solid #9da1a5;
  }
  66% {
    width: 100%;
    height: 0;
    border-top: 1px solid #9da1a5;
    border-right: 1px solid #9da1a5;
  }
  100% {
    width: 100%;
    height: 100%;
    border-top: 1px solid #9da1a5;
    border-right: 1px solid #9da1a5;
  }
}

@keyframes borderBotLeft {
  0% {
    width: 0;
    border-bottom: 1px solid #1DCB0A;
  }
  33% {
    width: 100%;
    border-bottom: 1px solid #1DCB0A;
  }
  66% {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #1DCB0A;
    border-left: 1px solid #1DCB0A;
  }
  100% {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #1DCB0A;
    border-left: 1px solid #1DCB0A;
  }
}

@keyframes chapter {
  0% {
    transform: translateY(0);
    height: 0;
  }
  33% {
    transform: translateY(100px);
    height: 15px;
  }
  77% {
    transform: translateY(-50px);
    height: 35px;
  }
  100% {
    transform: translateY(0);
    height: 50px;
  }
}

@font-face {
  font-family: "Jost";
  src: local("./fonts/Jost-Regular.eot");
  src: url("assets/fonts/Jost-Regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Jost-Regular.woff2") format("woff2"), url("assets/fonts/Jost-Regular.woff") format("woff"), url("assets/fonts/Jost-Regular.ttf") format("truetype"), url("assets/fonts/Jost-Regular.svg#Jost-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: local("./fonts/Jost-Bold.eot");
  src: url("assets/fonts/Jost-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/Jost-Bold.woff2") format("woff2"), url("assets/fonts/Jost-Bold.woff") format("woff"), url("assets/fonts/Jost-Bold.ttf") format("truetype"), url("assets/fonts/Jost-Bold.svg#Jost-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after { /*- ширины блока для удобства*/
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body { /*- запрещает самовольное изменение шрифта*/
  height: 100%;
  width: 100%;
  /*font-size: 100%;*/
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Просим унаследовать семейство шрифта*/
input, button, textarea {
  font-family: inherit;
}

/*– будет тот шрифт который устанавливаем в “body”*/
/*Убираем по умолчанию стили в некоторых браузерах*/
input::-ms-clear {
  display: none;
}

/*– убираем крестик в form в браузере от MS */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/*	 – убирает элементы списка*/
img {
  vertical-align: top;
}

/*Обнуление заголовков*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Работает в Firefox */
  scrollbar-width: thin;
  scrollbar-color: #101010 #9da1a5;
  /* Работает в Chrome, Edge и Safari */
}
body::-webkit-scrollbar {
  background-color: #9da1a5;
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #101010;
  border-radius: 20px;
  border: 1px solid #9da1a5;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #1DCB0A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: 100%;
}



/*# sourceMappingURL=index.css.map */
